/* Fundo */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#001700, #0c3d0a);
    color: white;
    text-align: center;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    font-size: 28px;
    color: #00ff4c;
}

.logo span {
    font-size: 40px;
}

/* Texto principal */
.conteudo h2 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: bold;
}

/* Formulário */
.formulario {
    width: 90%;
    max-width: 450px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Labels */
.formulario label {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

/* Select e Inputs */
.formulario select,
.formulario input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Radios */
.radio-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 5px 0 10px;
}

/* Aviso */
.aviso {
    margin-top: 15px;
    font-size: 12px;
    opacity: 0.8;
}

/* Botões */
.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.limpar {
    background: #777;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.analisar {
    background: #00ff4c;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.limpar:hover {
    background: #555;
}

.analisar:hover {
    background: #00dd40;
}

/* Rodapé */
footer {
    background: #5e816a3d;
    margin-top: 40px;
    padding: 15px 0;
}

footer nav a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer nav a:hover {
    color: #00ff4c;
}